html,body{
	font-size: 16px;
	height:100%;
}
body{
	margin:0px;
}
.swiper-container{
	width:100%;
	height:100%;
	overflow: hidden;
}
#container1{
	width:100%;
	height:100%;
	background:url("../images/9.png") no-repeat 0px 0px;
	background-size:cover;
	overflow: hidden;
	.wrap{
		position:relative;
	}
	.word1{
		width:(326/16/2)+rem;
		height:(328/16/2)+rem;
		opacity: 0;
		background-color: rgba(255,255,255,0.4);
		color:rgb(51,51,51);
		position:absolute;
		z-index: 10;
		left:(132/16/2)+rem;
		top:(158/16/2)+rem;
		box-sizing: border-box;
		padding:1rem;
		p{
			margin:0px;
			line-height: 1.5;
			font:{
				size:(15/16)+rem;
				family: "SImHei";
			}
		}
	}
	.word2{
		opacity: 0;
		width:(326/16/2)+rem;
		height:(328/16/2)+rem;
		background-color: rgba(255,255,255,0.4);
		color:rgb(51,51,51);
		position:absolute;
		left:(57/16/2)+rem;
		top:(238/16/2)+rem;
		span{
			color:rgb(51,51,51);
			position:absolute;
			bottom:0.5rem;
			left:0.3rem;
			width:2rem;
			text-align: center;
			font:{
				size:(19/16)+rem;
				family: "SImHei";
			}
		}
	}
}
#container2{
	width:100%;
	height:100%;
	background:url("../images/10.png") no-repeat 0px 0px;
	background-size: cover;
	overflow: hidden;
	.wrap{
		position:relative;
	}
	.page2-pic1{
		opacity: 0;
		width:(434/16/2)+rem;
		height:(683/16/2)+rem;
		position:absolute;
		left:(76/16/2)+rem;
		top:(582/16/2)+rem;
		background:url("../images/1.jpg") no-repeat;
		background-size: 100% 100%;
		box-shadow: 0 0 0 0.1rem  rgb(255,255,255);

	}
	.page2-pic2{
		opacity: 0;
		width:(434/16/2)+rem;
		height:(683/16/2)+rem;
		position:absolute;
		left:(249/16/2)+rem;
		top:(85/16/2)+rem;
		background:url("../images/2.jpg") no-repeat;
		background-size: 100% 100%;
		box-shadow: 0 0 0 0.1rem  rgb(255,255,255);
	}
	.rec{
		opacity: 0;
		width:(131/16)+rem;
		min-height:(93/16)+rem;
		position:absolute;
		left:0px;
		bottom:0px;
		color:white;
		padding:0.2rem 0.55rem 0.2rem 0.55rem;
		text-align: justify;
		box-sizing: border-box;
		display:table;
		background-color: rgba(0,0,0,0.5);
		box-shadow: 0 0 0 0.1rem rgb(255,255,255);
		.align{
			display:table-cell;
			vertical-align: middle;
		}
		span{
			display:block;
			line-height: 1.3;
			font:{
				size:(14/16)+rem;
				family: "SImHei";
			}
		}
	}
}
#container3{
	width:100%;
	height:100%;
	background:url("../images/4.jpg") no-repeat 0px 0px;
	background-size: cover;
	overflow: hidden;
	.wrap{
		position:relative;
	}
	.page3-pic1{
		width:(350/16/2)+rem;
		height:(394/16/2)+rem;
		opacity: 0;
		background:url("../images/11.png") no-repeat 0px 0px;
		background-size: 100% 100%;
		position:absolute;
		left:(82/16/2)+rem;
		top:(125/16/2)+rem;
	}
	.page3-pic2{
		width:(285/16/2)+rem;
		height:(319/16/2)+rem;
		opacity: 0;
		background:url("../images/12.png") no-repeat 0px 0px;
		background-size: 100% 100%;
		position:absolute;
		left:(234/16/2)+rem;
		top:(487/16/2)+rem;
	}
	.page3-word{
		width:(320/16/2)+rem;
		height:(372/16/2)+rem;
		opacity: 0;
		position:absolute;
		left:(45/16/2)+rem;
		top:(821/16/2)+rem;
		color:rgb(51,51,51);
		line-height: 1.8;
		padding:0.5rem;
		box-sizing: border-box;
		font:{
			size:(15/16)+rem;
			family: "SImHei";
		}
	}
}
#container4{
	width:100%;
	height:100%;
	overflow: hidden;
	.wrap{
		position:relative;
	}
	.page4-pic1{
		opacity: 0;
		width:(614/16/2)+rem;
		height:(286/16/2)+rem;
		background:url("../images/page4.png") no-repeat 0px 0px;
		background-size: 100% ;
		position:absolute;
		left:(76/16/2)+rem;
		top:(113/16/2)+rem;
	}
	.page4-pic2{
		opacity: 0;
		width:(614/16/2)+rem;
		height:(286/16/2)+rem;
		background:url("../images/page4.png") no-repeat 0 bottom;
		background-size: 100% ;
		position:absolute;
		left:(76/16/2)+rem;
		top:(431/16/2)+rem;
	}
	.page4-word{
		opacity:0;
		width:(614/16/2)+rem;
		position:absolute;
		box-sizing: border-box;
		padding-right: (11/16/2)+rem;
		left:(76/16/2)+rem;
		top:(780/16/2)+rem;
		span{
			display: inline-block;
			min-height: (379/16/2)+rem;
			width:(74/16/2)+rem;
			box-sizing: border-box;
			float:right;
			line-height: 1.1 !important;
			text-align: center;
			border-left: 1px solid rgb(204,204,204);
			color:rgb(51,51,51);
			font:{
				size:(20/16)+rem;
				family: "SImHei";
			}
		}
		span:first-child{
			border-right: 1px solid rgb(204,204,204);
		}
	}
}
#container5{
	width:100%;
	height:100%;
	background: url("../images/13.png") no-repeat 0px 0px;
	background-size: cover;
	overflow: hidden;
	.wrap{
		position:relative;
	}
	.page5-pic1{
		opacity: 0;
		width:(310/16/2)+rem;
		height:(206/16/2)+rem;
		background:url("../images/14.png") no-repeat 0px 0px;
		background-size: 100% 100%;
		position:absolute;
		left:(200/16/2)+rem;
		top:(294/16/2)+rem;
	}
	.page5-pic2{
		opacity: 0;
		width:(275/16/2)+rem;
		height:(182/16/2)+rem;
		background:url("../images/15.png") no-repeat 0px 0px;
		background-size: 100% 100%;
		position:absolute;
		left:(91/16/2)+rem;
		top:(527/16/2)+rem;
	}
	.page5-pic3{
		opacity: 0;
		width:(258/16/2)+rem;
		height:(454/16/2)+rem;
		background:url("../images/16.png") no-repeat 0px 0px;
		background-size: 100% 100%;
		position:absolute;
		left:(395/16/2)+rem;
		top:(527/16/2)+rem;
	}
	.page5-word1{
		opacity: 0;
		width:(90/16/2)+rem;
		height:(387/16/2)+rem;
		background-color: rgb(242,242,242);
		border:1px solid silver;
		border-top: none;
		position:absolute;
		left:(581/16/2)+rem;
		top:0px;
		color:rgb(51,51,51);
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		box-sizing: border-box;
		text-align: center;
		line-height: 1.5;
		padding-top: 2.5rem;
		font:{
			size:(19/16)+rem;
			family: "SImHei";
		}
	}
	.page5-word2{
		opacity: 0;
		width:8.5rem;
		height:12rem;
		position:absolute;
		left:3rem;
		top:24rem;
		line-height:1.8;
		color:rgb(51,51,51);
		font:{
			size:(15/16)+rem;
			family: "SImHei";
		}
	}
}
#container6{
	width:100%;
	height:100%;
	background-color: rgb(242,242,242);
	position:relative;
	overflow: hidden;
	.wrap{
		position:relative;
	}
	.page6-pic1{
		opacity: 0;
		width:(624/16/2)+rem;
		height:(450/16/2)+rem;
		background:url(../images/3.jpg) no-repeat 0px 0px;
		background-size: 100% 100%;
		position:absolute;
		left:(63/16/2)+rem;
		top:(58/16/2)+rem;
	}
	.page6-pic2{
		opacity: 0;
		width:(173/16/2)+rem;
		height:(173/16/2)+rem;
		background:url(../images/17.png) no-repeat 0px 0px;
		background-size: 100% 100%;
		position:absolute;
		border-radius: 50%;
		box-shadow: 0 0 0 0.2rem rgb(255,255,255);
		left:(429/16/2)+rem;
		top:(422/16/2)+rem;
	}
	.page6-pic3{
		opacity: 0;
		width:(173/16/2)+rem;
		height:(173/16/2)+rem;
		background:url(../images/18.png) no-repeat 0px 0px;
		background-size: 100% 100%;
		position:absolute;
		z-index: 5;
		border-radius: 50%;
		box-shadow: 0 0 0 0.2rem rgb(255,255,255);
		left:(149/16/2)+rem;
		top:(741/16/2)+rem;
	}
	.page6-pic4{
		opacity: 0;
		width:(624/16/2)+rem;
		height:(450/16/2)+rem;
		background:url(../images/5.jpg) no-repeat 0px 0px;
		background-size: 100% 100%;
		position:absolute;
		left:(61/16/2)+rem;
		top:(824/16/2)+rem;
	}
	.page6-word1{
		opacity: 0;
		width:(1000/16/2)+rem;
		height:(65/16/2)+rem;
		background-color: rgb(217,217,217);
		position:absolute;
		right:(327/16/2)+rem;
		top:(587/16/2)+rem;
		color:rgb(51,51,51);
		line-height: (65/16/2)+rem;
		text-align: right;
		box-sizing: border-box;
		padding-right: 1rem;
		font:{
			size:(15/16)+rem;
			family: "SImHei";
		}
	}
	.page6-word2{
		opacity: 0;
		width:(1000/16/2)+rem;
		height:(65/16/2)+rem;
		background-color: rgb(217,217,217);
		position:absolute;
		left:(292/16/2)+rem;
		top:(677/16/2)+rem;
		color:rgb(51,51,51);
		line-height: (65/16/2)+rem;
		text-align: left;
		box-sizing: border-box;
		padding-left: 1rem;
		font:{
			size:(15/16)+rem;
			family: "SImHei";
		}
	}
}
#container7{
	width:100%;
	height:100%;
	background-color: rgb(218,235,254);
	position:relative;
	overflow: hidden;
	.wrap{
		position:relative;
	}
	.page7-pic1{
		width:(600/16/2)+rem;
		height:(600/16/2)+rem;
		position:absolute;
		opacity: 0;
		left:-1.5rem;
		top:-1.5rem;
		z-index:5;
		background:url("../images/19.png") no-repeat 0px 0px;
		background-size: 100% 100%;
	}
	.page7-pic2{
		width:(325/16/2)+rem;
		height:(325/16/2)+rem;
		opacity: 0;
		background:url("../images/20.png") no-repeat 0px 0px;
		background-size: 100% 100%;
		position:absolute;
		left:(414/16/2)+rem;
		top:(169/16/2)+rem;
	}
	.page7-pic3{
		width:(425/16/2)+rem;
		height:(425/16/2)+rem;
		opacity: 0;
		background:url("../images/21.png") no-repeat 0px 0px;
		background-size: 100% 100%;
		position:absolute;
		z-index:5;
		left:(298/16/2)+rem;
		top:(698/16/2)+rem;
	}
	.page7-pic4{
		width:(426/16/2)+rem;
		height:(407/16/2)+rem;
		opacity: 0;
		background:url("../images/22.png") no-repeat 0px 0px;
		background-size: 100% 100%;
		position:absolute;
		left:(177/16/2)+rem;
		bottom:0;
	}
	.page7-pic5{
		width:(302/16/2)+rem;
		height:(302/16/2)+rem;
		opacity: 0;
		background:url("../images/23.png") no-repeat 0px 0px;
		background-size: 100% 100%;
		position:absolute;
		z-index: 10;
		left:-1rem;
		bottom:(70/16/2)+rem;
	}
	.page7-picline1{
		opacity: 0;
		position:absolute;
		z-index: 50;
		width:(141/16/2)+rem;
		height:(141/16/2)+rem;
		left:(22/16/2)+rem;
		top:(501/16/2)+rem;
		list-style-type: none;
		li{
			width:100%;
			height:100%;
			-webkit-transform-origin: center center;
			transform-origin: center center;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			background:url("../images/split2.png") no-repeat left bottom;
			background-size: (423/16/2)+rem;
		}
	}
	.page7-picline2{
		opacity: 0;
		position:absolute;
		width:(141/16/2)+rem;
		height:(400/16/2)+rem;
		left:(130/16/2)+rem;
		top:(396/16/2)+rem;
		list-style-type: none;
		z-index: 50;
		li:nth-child(1){
			width:100%;
			height:(141/16/2)+rem;
			-webkit-transform-origin: center center;
			transform-origin: center center;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			background:url("../images/split2.png") no-repeat left center;
			background-size: (423/16/2)+rem;
		}
		li:nth-child(2){
			width:100%;
			height:(141/16/2)+rem;
			margin-top:(36/16)+rem;
			-webkit-transform-origin: center center;
			transform-origin: center center;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			background:url("../images/split2.png") no-repeat center bottom;
			background-size: (423/16/2)+rem;
		}
	}
	.page7-picline3{
		opacity: 0;
		position:absolute;
		width:(141/16/2)+rem;
		height:(600/16/2)+rem;
		left:(237/16/2)+rem;
		top:(290/16/2)+rem;
		list-style-type: none;
		z-index: 50;
		li:nth-child(1){
			width:100%;
			height:(141/16/2)+rem;
			-webkit-transform-origin: center center;
			transform-origin: center center;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			background:url("../images/split2.png") no-repeat top left;
			background-size: (423/16/2)+rem;
		}
		li:nth-child(2){
			width:100%;
			height:(141/16/2)+rem;
			margin-top: (36/16)+rem;
			-webkit-transform-origin: center center;
			transform-origin: center center;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			background:url("../images/split2.png") no-repeat center center;
			background-size: (423/16/2)+rem;
		}
		li:nth-child(3){
			width:100%;
			height:(141/16/2)+rem;
			margin-top: (36/16)+rem;
			-webkit-transform-origin: center center;
			transform-origin: center center;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			background:url("../images/split2.png") no-repeat right bottom;
			background-size: (423/16/2)+rem;
		}
	}
	.page7-picline4{
		opacity: 0;
		position:absolute;
		width:(141/16/2)+rem;
		height:(600/16/2)+rem;
		left:(345/16/2)+rem;
		top:(396/16/2)+rem;
		list-style-type: none;
		z-index: 50;
		li:nth-child(1){
			width:100%;
			height:(141/16/2)+rem;
			-webkit-transform-origin: center center;
			transform-origin: center center;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			background:url("../images/split2.png") no-repeat top center;
			background-size: (423/16/2)+rem;
		}
		li:nth-child(2){
			width:100%;
			height:(141/16/2)+rem;
			margin-top: (36/16)+rem;
			-webkit-transform-origin: center center;
			transform-origin: center center;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			background:url("../images/split2.png") no-repeat right center;
			background-size: (423/16/2)+rem;
		}
	}
	.page7-picline5{
		opacity: 0;
		position:absolute;
		width:(141/16/2)+rem;
		height:(141/16/2)+rem;
		left:(452/16/2)+rem;
		top:(502/16/2)+rem;
		list-style-type: none;
		z-index: 50;
		li:nth-child(1){
			width:100%;
			height:(141/16/2)+rem;
			-webkit-transform-origin: center center;
			transform-origin: center center;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			background:url("../images/split2.png") no-repeat right top;
			background-size: (423/16/2)+rem;
		}
	}
	.page7-word{
		opacity: 0;
		width:5rem;
		height:14.5rem;
		position:absolute;
		z-index:20;
		left:2rem;
		bottom:(80/16/2)+rem;
		span{
			display:inline-block;
			line-height: 1.2 !important;
			width:1.5rem;
			height:14.5rem;
			text-align: center;
			float:right;
			color:rgb(51,51,51);
			font:{
				size:(15/16)+rem;
				family: "SImHei";
			}
		}
	}
}